.our-team {
	padding-top: 94px;
	padding-bottom: 94px;

	font-size: 16px;
	line-height: 1.19em;
	text-align: center;
	letter-spacing: 0.03em;

	background: #f5f4fa;

	h3 {
		margin-top: 0px;
		margin-bottom: 10px;

		font-weight: 500;
	}

	p {
		margin-top: 0px;
		margin-bottom: 16px;

		font-weight: normal;
		color: $color-for-description;
	}

	.social-link-list {
		padding-bottom: 24px;
	}

	&-list {
		display: flex;
		justify-content: space-between;
	}

	&-list-item {
		display: block;

		width: 270px;

		background: #ffffff;
		border-bottom-right-radius: $radius-borders;
		border-bottom-left-radius: $radius-borders;
		box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
	}

	&-list-item-foto {
		margin-bottom: 30px;
	}
}
